@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}
.main {
    height: 500px;
    width: 100%;
    /* background-color: red; */
}
.wrapper{
    width: 100%;
    height: 100%;
    
}
.slide {
    overflow: hidden;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto; /* Center the image horizontally */
    display: block;
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
}
.slide::before{
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0green, 0blue, 0.4);
    z-index: 10;

}
.slide .image {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;

}
.slide .image-data {
    position: absolute;
    
    /* left: 50%; */
    /* transform: translate(-50% , -50%); */
    text-align: center;
    height: auto;
    background: #fff;
    bottom: 0;
    left: 12vw;
    position: absolute;
    width: 50%;
    

    z-index: 100;    
    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: start;
    padding: 20px 35px 15px;
}
.image-data  span.text {

    font-size: 14px;
    font-weight: 400;
    color: #00a79d;
    display: flex;
    left: 0;
    margin-bottom: 10px;


}
.image-data  h2{
    display: flex;
    position: relative;
    left: 0;
    padding: 0%;
    justify-items: start;
    justify-content: start;
    margin-bottom: 10px;
    
}
.image-data  h2 > a {
    font-size: 25px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    position: relative;    
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-align: start;
}
.image-data .author ul {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;
}
.image-data .author ul li {
    color: #6e6e71;
    list-style: none;
    display: inline;
}
.author ul li a {
    color: #6e6e71;
    text-decoration: none;
}
a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #333;
    text-decoration: none;
    background: black;
    margin-top: 25px;
    transition: all 0.3s ease;
}
a.button:hover {
    color: #fff;
    background-color: #C87E4F;
    cursor: pointer;
}
/* swiper button css */
.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255 , 0.3);
}
.nav-btn:hover {
    background-color: rgba(255, 255, 255 , 0.4);

}
.swiper-button-next{
    right: 50px;
   
}

.swiper-button-prev{
    left: 50px;
}
.nav-btn::before,
.nav-btn::after {
    font-size: 25px;
    color: #fff;

}
.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;

}
.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #C87E4F;
}
/* .paginContainer
 {
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
} */
@media(max-width:900px) {

    .swiper-button-next{
        right: 20px;
    }
    .swiper-button-prev{
        left: 20px;
    }
    .image-data  span.text {
        font-size: 12px;
    }
    .image-data  h2 {
        font-size: 30px;
       
    
    }
    a.button {
        display: inline-block;
        padding: 5px 10px;
        border-radius: 25px;
        color: #333;
        text-decoration: none;
        background: #fff;
        margin-top: 13px;
        transition: all 0.3s ease;
    }
}
@media(max-width:768px) {

    .swiper-button-next{
        right: 10px;
    }
    .swiper-button-prev{
        left: 10px;
    }
    .image-data  span.text {
        font-size: 10px;      
    
    }
    .image-data  h2 {
        font-size: 30px;
    
    }
    .slide .image-data {
        left: 5vw;
        width: 90vw;
    }
}
/* @media(max-width:600px) {
    .nav-btn{
        visibility: hidden;
    }
    .swiper-pagination-bullet {
        visibility: visible;
    }

} */